<section class="certificate section" id="certificates">
    <h2 class="section-title">Certificados</h2>

    <div class="certificate-container bd-grid">

        <div class="certificate-content">
            <h3 class="certificate-title" style="margin-top: 0;">Excel + Power BI (Especialista)</h3>
            <p class="certificate-descripition">Formação 7 cursos - Jilson Santana</p>
        </div>

        <div class="certificate-content">
            <h3 class="certificate-title" style="margin-top: 0;">Full-Stack Web Bootcamp</h3>
            <p class="certificate-descripition">Dr. Angela Yu</p>
        </div>

        <div class="certificate-content">
            <h3 class="certificate-title" style="margin-top: 0;">100 Days of Code™: Python</h3>
            <p class="certificate-descripition">Dr. Angela Yu</p>
        </div>

        <div class="certificate-content">
            <h3 class="certificate-title" style="margin-top: 0;">React Native & Vue.js</h3>
            <p class="certificate-descripition">Maximilian Schwarzmüller</p>
        </div>

        <div class="certificate-content">
            <h3 class="certificate-title" style="margin-top: 0;">Desenvolvimento Flutter</h3>
            <p class="certificate-descripition">Leonardo Moura Leitao</p>
        </div>

        <div class="certificate-content">
            <h3 class="certificate-title" style="margin-top: 0;">IA e Produtividade</h3>
            <p class="certificate-descripition">Conquer Business School</p>
        </div>
    </div>
</section>
