<section class="experience section" id="experience">
    <h2 class="section-title">Experiências</h2>

    <div class="experience-content">
        <div class="experience-time">
            <span class="experience-rounder"></span>
            <span class="experience-line"></span>
        </div>
        <div class="education-data bd-grid">
            <h3 class="experience-title">Desenvolvedor Front-end</h3>
            <span class="education-company">Televets | Abr 2025 - Atualmente</span>
            <span class="education-descripion">
                Atuação no desenvolvimento e manutenção do ecossistema web e mobile (App e Site),
                utilizando <b>React</b> e <b>TypeScript</b>. Responsável pela integração e consumo de
                <b>APIs RESTful documentadas via Swagger</b>, assegurando a integridade dos dados.
                Aplicação de <b>boas práticas de desenvolvimento (Clean Code)</b>, com foco em
                performance, escalabilidade e manutenibilidade do código.
            </span>

        </div>
    </div>

    <div class="experience-content">
        <div class="experience-time">
            <span class="experience-rounder"></span>
        </div>
        <div class="education-data bd-grid">
            <h3 class="experience-title">Documentação Técnica e Prototipagem</h3>
            <span class="education-company">Vitrine das Artes | 2023 - 2024</span>
            <span class="education-descripion">
                Atuação com liderança técnica na fase de concepção do produto, sendo responsável pela
                elaboração da <b>documentação técnica</b> e pelo desenvolvimento de <b>protótipos de
                    alta fidelidade (UI/UX)</b>. Participação ativa na validação dos requisitos funcionais
                junto aos stakeholders, garantindo alinhamento entre negócio e tecnologia.
            </span>

        </div>
    </div>
</section>