<footer class="l-footer" id="footer">
    <nav class="nav bd-container">
        <a href="#" class="nav-logo">Victor</a>
        <div class="nav-menu" id="nav-menu">
            <ul class="nav-list">
                <li class="nav-item"><a href="#home" class="nav-link active-link"><i
                            class='bx bx-home nav-icon'></i>Home</a></li>
                <li class="nav-item"><a href="#profile" class="nav-link"><i
                            class='bx bx-user nav-icon'></i>Sobre</a></li>
                <li class="nav-item"><a href="#education" class="nav-link"><i
                            class='bx bx-book nav-icon'></i>Educação</a></li>
                <li class="nav-item"><a href="#skills" class="nav-link"><i
                            class='bx bx-receipt nav-icon'></i>Skills</a></li>
                <li class="nav-item"><a href="#experience" class="nav-link"><i
                            class='bx bx-briefcase-alt nav-icon'></i>Jobs</a></li>
                <li class="nav-item"><a href="#certificates" class="nav-link"><i
                            class='bx bx-award nav-icon'></i>Certificados</a></li>
            </ul>
        </div>
        <div class="nav-toggle" id="nav-toggle">
            <i class='bx bx-grid-alt'></i>
        </div>
    </nav>
</footer>
