<section class="home" id="home">
    <div class="home-container section bd-grid">
        <div class="home-data bd-grid">
            <img src="assets/victor.png" alt="Foto do Victor" class="home-img">

            <h1 class="home-title">Victor <b>Stelzer</b></h1>
            <h3 class="home-profession">Desenvolvedor Front-end</h3>

            <div>
                <a download="" href="assets/Curriculo.pdf" class="home-button-movil">Download</a>
            </div>
        </div>

        <div class="home-address bd-grid">
            <span class="home-information">
                <i class='bx bx-map home-icon'></i> Mogi das Cruzes
            </span>

            <span class="home-information">
                <i class='bx bxs-envelope home-icon'></i> victor@originaal.com.br
            </span>

            <span class="home-information">
                <i class='bx bx-phone home-icon'></i> (11) 9 9443-4146
            </span>
        </div>
    </div>

    <i class='bx bx-moon change-theme' title="Theme" id="theme-button"></i>
    <i class="bx bx-download generate-pdf" title="Generate PDF" id="resume-button"></i>
</section>
