<section class="interests section">
    <h2 class="section-title">Interesses</h2>
    <div class="interests-container bd-grid">
        <div class="interests-content">
            <i class='bx bxs-music interests-icon'></i>
            <span class="interests-name">Música</span>
        </div>
        <div class="interests-content">
            <i class='bx bxs-joystick interests-icon'></i>
            <span class="interests-name">Jogos</span>
        </div>
        <div class="interests-content">
            <i class='bx bxs-bible interests-icon'></i>
            <span class="interests-name">Teologia</span>
        </div>
        <div class="interests-content">
            <i class='bx bxs-book-bookmark interests-icon'></i>
            <span class="interests-name">Livros</span>
        </div>
    </div>
</section>
