<section class="profile section" id="profile">
    <h2 class="section-title">Sobre Mim</h2>

    <p class="profile-description">
        Desenvolvedor Front-end na Televets, com foco em <b>React</b> e <b>TypeScript</b>.
        Possuo experiência no desenvolvimento de aplicações, consumo de <b>APIs REST</b> e
        elaboração de <b>documentação técnica</b>.
        Além do desenvolvimento, tenho forte perfil analítico, com atuação em <b>Excel Avançado</b>
        e <b>Power BI</b>, utilizando dados como apoio à análise, organização de informações e
        tomada de decisão em contextos técnicos e de negócio.
    </p>
</section>