<section class="social section">
    <h2 class="section-title">REDES SOCIAIS</h2>

    <div class="social-container bd-grid">
        <a class="social-link" target="_blank"
            href="https://www.linkedin.com/in/victor-stelzer-machado-6b8a43253/">
            <i class='bx bxl-linkedin-square social-icon'></i> @Victor Stelzer Machado
        </a>

        <a class="social-link" target="_blank" href="https://github.com/VictorStelzer">
            <i class='bx bxl-github social-icon'></i> @VictorStelzer
        </a>
    </div>
</section>
